*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Chakma', sans-serif;
}

/* body section / display */
body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* navbar */

h1{
    margin-bottom: 5px;
}

#navbar{
    display: flex;
    flex-direction: column;
    width: 82%;
    padding: 40px 0 0 20px;
    border: 1px solid grey;
}

#navbar a{
    text-decoration: none;
    color: black;
}

/* sections */
h2{
    border-bottom: 1px solid gray;
}

code{
    font-weight: bold;
}
h2,p,li,code{
    margin: 20px 20px 20px 0;
}
section{
    margin: 40px;
}


/* media queries phone */
@media only screen and (max-width: 767px) {
    body{
        display: block;
    }
    #navbar{
        position: relative;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    #navbar a{
        height: 30px;
    }

    #main-doc{
        margin: 0;
        text-align: center;
    }

    section, h2,p, li,code{
        margin: 15px;
    }
}